  
@model List<Product>
@foreach (var item in Model)
                            {   
                                @foreach (var img in item.ProductImages)
                                {
                                    if (img.IsMain)
                                    {
                                        <div class="product-col col-md-4 col-sm-6">
                                    <div class="single-product mt-30">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                                <img class="second-image" src="~/images/@img.ImageUrl" alt="product">
                                            </a>
                                            <ul class="product-meta">
                                                <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                            <span class="discount-product">@item.DiscountPrice%</span>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>                                            
                                            <div class="product-price">
                                                <span class="regular-price">€@item.Price</span>
                                                <span class="price-sale">€@(item.Price-(item.Price*item.DiscountPrice/100))</span>
                                            </div>
                                        </div>
                                    </div> <!-- single product -->
                                </div>
                                 }
                            }
                                
                         }