@model RegistrVM

  <form class="pt-3" method="post">
                  <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                  <input asp-for="FullName"  class="form-control form-control-lg"  placeholder="FullName">
                  <div><span class="text-danger" asp-validation-for="FullName"></span></div>
                </div>
                <div class="form-group">
                  <input asp-for="Email"  class="form-control form-control-lg"  placeholder="Email">
                  <div><span class="text-danger" asp-validation-for="Email"></span></div>
                </div>
                  <div class="form-group">
                  <input asp-for="UserName"  class="form-control form-control-lg"  placeholder="UserName">
                  <div><span class="text-danger" asp-validation-for="UserName"></span></div>
                </div>
                <div class="form-group">
                  <input asp-for="Password" class="form-control form-control-lg"  placeholder="Password">
                  <div><span class="text-danger" asp-validation-for="Password"></span></div>
                </div>
                <div class="form-group">
                  <input asp-for="RepeatPassword" class="form-control form-control-lg"  placeholder="RepeatPassword">
                  <div><span class="text-danger" asp-validation-for="RepeatPassword"></span></div>
                </div>
                 <div class="form-group">
                 <button type="submit" class="btn btn-primary">Register</button>
                </div>
           
              </form>
